:root {
    --grey: #e7e8ea;
    --dim-grey: #f5f6f8;
    --dark-gunmetal: #1a1a31;
    --validation-error: #d81d1d;
    --white: #fff;
    --black: #0b0b0b;
    --midnightBlue: #303c48;
    --seaBlue: #067eee;
    --japanese-indigo: #1b4650;
    --japanese-indigo-medium: #c3d1d3;
}