:host {
    background-color: var(--midnightBlue);
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

button {
    display: flex !important;
    margin: 0 auto;
}